SERVER_IP=8.141.17.93

MYSQL_ROOT_PASSWORD=123456
MYSQL_DATABASE=ruoyi-vue-pro
MYSQL_HOST_PORT=13306
REDIS_HOST_PORT=26379

NACOS_USERNAME=nacos
NACOS_PASSWORD=nacos
NACOS_NAMESPACE=dev

SPRING_PROFILES_ACTIVE=dev
